body{
background-color:#e8e8e8;
}
.left{
height:1000px;
background-color:#e84943;
}

.first{
margin-top:80px;
}
.second{
margin-top:60px;
}
.third{
margin-top:60px;
}
.info1{
font-family:callibary;
font-size:18px;
}
.right-section{
height:50px;
height:100%;
}

.text{
height:70px;
border-radius:10px;
width:100%;
}
.google{
height:50px;
float:left;
width:10%;
}
.facebook{
margin-left:6px;
float:left;
width:10%;
}
.twitter{
height:50px;
float:left;
width:10%;
margin-left:6px;
}

