body{
	background: url('../../../img/events/view/Bg-box.jpg');
	  /* background-color: #073431; */
}
.right-div{background:url('/assets/img/events/event-page-BG.jpg');}
.information{background-color:#FFF;text-align:left;padding-left:10px;}
.ico,.ico1{	
	height: 65px;
	padding: 1%;
    margin: 1%;
	text-align:center;
}
 .ico:hover {
      background:#3E6380;
	  color:white;
     }
.ico1:hover {
      background:#3E6380;
	  color:white;
     }
.side{
	color:white;
	margin-top: 22px;
	text-decoration:none;
}
.side_bar1{		
    padding-left: 0px;
    padding-right: 0px;
	height:100%;
	color:white
  
/* 	background:#262626; */

}
.icoimg,.proimg{	
	padding-left: 0px;
    padding-right: 0px;	
}
#pro_name{
	color: #FBFBFB;
    margin-top: -46px;
    margin-left: 23px;
    font-size: 18px;
}
#head,#head1,#head2,#head_det{	
	color:white;
}
.Profile_details{
	background:#3E6380;
	
}
.allergies{
	/* height:276px; */
}
#head1,#head2,#heada{
	text-align:center;
	font-size:100%;
	
}
.left,.right{	
	border-bottom:3px solid #597284;
	height:80px;
}
.right,.right2{
	border-left:3px solid #597284;
	height:80px;
}
.middle{
	
    padding-top: 15px;
    padding-bottom: 15px;
	height:80px;

}
.left1{
	padding-top: 5px;
    padding-bottom: 15px;
	height:80px;
}
.left2,.right2{
	border-top:3px solid #597284;	
	height:80px;
}
.desies{
	   /*  height: 45px; */
    border-bottom: 3px solid #597284;
}

#heada,#head_deta{
	color:rgba(232, 222, 222, 0.48);
}
.head_det{
font-size:100%;
}
#serchi{
	
	background-color: rgba(0,0,0,0.2);
    height: 39px;
    border: 0px;
    color: white;
}
.input-group-btn{
background-color: #02646d;
}
/* .serching{
	 background: url('/assets/img/event page BG.jpg');
    border-radius: 0px;
    
} */
.activity{
	   margin: 8px;
  
  background-color: #036a73;
  color: white;
  margin-left: 12.21%;
  margin-right: 0px;
  width: 85%;
}
.activity1{
	margin: 8px;
	padding-left:0px;
	margin-left:0px;
	margin-right:0px;
}
#class{
background: transparent;
}
.doctors{
	  margin: 15px;
}
.content,.content1{
	text-align:justify;
	
}
#title{text-align:center;}
.back{
	background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#727272+18,a5a5a5+81,7c7c7c+96 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7b7b7+18,a5a5a5+81,b7b7b7+96 */
background: #b7b7b7; /* Old browsers */
background: -moz-linear-gradient(left,  #b7b7b7 18%, #a5a5a5 81%, #b7b7b7 96%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(18%,#b7b7b7), color-stop(81%,#a5a5a5), color-stop(96%,#b7b7b7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #b7b7b7 18%,#a5a5a5 81%,#b7b7b7 96%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #b7b7b7 18%,#a5a5a5 81%,#b7b7b7 96%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #b7b7b7 18%,#a5a5a5 81%,#b7b7b7 96%); /* IE10+ */
background: linear-gradient(to right,  #b7b7b7 18%,#a5a5a5 81%,#b7b7b7 96%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#b7b7b7',GradientType=1 ); /* IE6-9 */

;
}
/*.effect-oscar{border-right:1px solid #fff;border-bottom:1px solid #fff;width:50%;}*/
.imgs{
	
	padding-left:0px;	
    }
 .date
      {
     margin-left:30px;
    }
.eventback
      {
    background: transparent;
    }

@media (max-width: 992px){
.left,.right,.right1,.left2,.right2
      {
    width: 50%;
	float:left;
	}
	.left1
	{
	width: 50%;
	float:left;		
    width: 50%;
    float: left;
    padding-top: 0px;
    height: 69px;
    padding-bottom: 0px;

	}
}
@media (max-width: 991px){
.side_bar1
 {
    width: 100% !important;
}
.serching
{
	width: 100% !important;
}
#proimg{margin-left:48%;
}
.content,.content1{
	text-align:center;
}
}

.tokenize-sample.form-control{padding: 0;height: auto}
div.in#flash-message{position: absolute;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    text-align: center;
    background-color: rgba(62,99,128,.75);
    border-color: rgb(62,99,128);
    color: #fff;}