.prfl-img-cls{ float: left;
border: medium none;
padding: 0px;
margin-bottom: 0px !important;
height: 243px;

overflow: hidden;}
.detls-sec-grp{  padding-left: 15px;
    float: left;
    width: 100%; height:130px; background: rgba(11, 7, 7, 0.35);padding-top: 11px; }
	.pf-img{
width: 392px;
height: 392px;}
.joind-clsss{
      position: absolute !important;
margin-top: -189px;
    width: 175px;
    height: 100px;
    display: block;
    right: 0;
    color: #E0352D;
}
.slct-bck-clr{     background-color: rgba(0, 0, 0, 0.71);
  height: 40px;
    color: white;
    font-size: 14px;
    border: none;
    width: 175px;}
.slct-bck-clr option{background-color: rgba(37, 35, 35, 0.66);
    color: #E0352D;}
	.slct-bck-clr:hover{ outline:0; border:none}
.members-lst-cls{background-color: rgba(37, 35, 35, 0.66);}
/* .mCSB_container {
 
    overflow: visible !important;
} */
.input-grps-icnn{ background: rgb(255, 255, 255) none repeat scroll 0% 0%;
color: rgb(0, 0, 0);
padding: 9px;
border-radius: 5px 0px 0px 5px;}
.input-grps-rght{
height: 24px !important;
margin: -2px 0px 0px -4px !important;
width: 89%;
border-left: medium none !important;
border-radius: 0px 5px 5px 0px !important;}
.members-lst-cls{

}
.header {
   
    z-index: 9;
}
.listmnu{
padding: 16px;
background: rgba(18, 15, 15, 0.53) none repeat scroll 0% 0%;
margin-top: 14px;
}
.listmnu li{ display: inline;
padding: 18px;}
.listmnu li:hover{background: #000 none repeat scroll 0% 0%;
cursor: pointer;
color: #CF3F3F;}
.comment-area{ background: rgba(38, 32, 32, 0.44) none repeat scroll 0% 0%;}
.commnt-txtara{width: 96%;
background: rgba(39, 34, 34, 0.26);
border: 1px solid rgba(74, 59, 59, 0.84);    height: 65px;}
.cam-icno{background: #DA4F49 none repeat scroll 0% 0%;
color: #020000;
padding: 5px;
border: 1px solid #DA4F49;}
.flie-upld-btn{height: 31px !important;
margin-top: -7px;
margin-left: -2px;}
.submit-btnn-cls{}
.submt-btn{float: right;
margin: 11px;
padding: 4px 28px;}
.img-cntnr{border: medium none;
padding: 0px;
width: 67px;float:left}
.pf-img-pst{  height: 71px; float:left}
.pst-cntnts{width: 100%;
clear: both;
height: 285px;
    background: rgba(24, 22, 22, 0.9) none repeat scroll 0% 0%}
.usr-pfle-nme{ float: left;
width: 262px;
padding-left: 15px;
padding-right: 15px;}
.pst-lke{padding-right: 38px;}
.lke-cmnt{padding: 8px;
margin-top: -8px;}
.cmnt-area-bottm{clear:both}

.btn-delete-ys{
margin: 11px;
padding: 4px 20px;
}
.psts-lft-scrl .mCustomScrollBox > .mCSB_scrollTools{ display:none !important}
.psts-lft-scrl{ height:auto}
