.container{
         border:0px solid;
		 height:814px;
		 width:100%;
		 }
		 
.calender{
    
             margin-left:-30px;
             border:0px solid;
             height:1000px;
             width:auto;
            background-image:url(http://version.mahajyothis.net//assets/img/bk1.png);
}
.no1{
     border:0px solid;
	 width:100%;
	 
	 }
	 .head-txt{margin-left: 22px;color:#fff;margin-top:28px;}

ul li{ list-style-type:none; display:inline;}

.num {
     font-size:25px;
	 font-family:callibary;
	 color:#FFFFFF;
	 
	 margin-left:27px;
	 }
.week{
     border:0px solid;
	 width:88%;
	 margin-top:6px;
	 margin-left:24px;
	 }
.tp-menu{text-indent:-32px; margin-top: 25px;font-family: callibary; font-size: 12px}
.daily{color:#FFFFFF;}
.week1{color:#FFFFFF;}
.monthly{color:#FFFFFF;}


.weekly{
     color:#FFFFFF;
	/*  margin-left:15px; */
	 margin-top:40px;
	 font-family:callibary;
	 }
	 ul li:first-child a{ padding-left:5%; color:#fff;}
	 .menu{ 
		color:#fff;
		padding-left: 7.9%;
	 }
	
 ul li a:hover, a:focus{ text-decoration:none; color:#000; outline:0;}
.sun-sign{
      width:100%;
	  margin-left:15px;
	  clear:both;
	  }
.sun-sign1
            {
       
		border:0px solid;
		width:100%;
		
		}
  .sign1
            {
       
		border:0px solid;
		  width: 15%;
		float:left;
		padding-left:12px;
		}
		.sign1 img
            {
        
		width:100%;
		float:left;
		}
.sign2
            {
       
	    
		width: 15%;
		float:left;
		padding-left:12px;
		}
		.sign2 img
            {
     
		
		width:100%;
		float:left;
		}
.sign3
            {
        
	width: 15%;
		float:left;
	padding-left:12px;
		}
		.sign3 img
            {
     
		width:100%;
		float:left;
		}
.sign4
            {
      
		width: 15%;
		float:left;
			padding-left:12px;
		}	
.sign4 img
            {
       
		width:100%;
		float:left;
		
		}			

 .sign5
            {
       
		width: 15%;
		float:left;
        padding-left:12px;
		}
		.sign5 img
            {
       
		width:100%;
		float:left;
		}
.sign6
            {
        
		width: 15%;
		float:left;
        padding-left:12px;
	
			
		}
		.sign6 img
            {
     
		width:100%;
		float:left;
	
		}

.sun-sign2{
           
		  border:0px solid;
		  width:100%;
		 
		 
		  }
  	 
  .sign7
            {
       
		width: 15%;
		float:left;
	    padding-left:12px;
		}
		.sign7 img
            {
       
		width:100%;
		float:left;
		}
.sign8
            {
      
	
	width: 15%;
		float:left;
		padding-left:12px;
		}
		.sign8 img
            {
       
		
		width:100%;
		float:left;
		}
.sign9
            {
      
		width: 15%;
		float:left;
			padding-left:12px;
		}
		.sign9 img
            {
      
	
		width:100%;
		float:left;
		}
.sign10
            {
       
		
		width: 15%;
		float:left;
		padding-left:12px;
		}	
.sign10 img
            {
      
		width:100%;
		float:left;
		
		}			

 .sign11
            {
      
		
		width: 15%;
		float:left;
        padding-left:12px;
		}
		.sign11 img
            {
     

		width:100%;
		float:left;
		margin-right:3%;
		}
.sign12
            {
      
	
		width: 15%;
		float:left;
		
		padding-left:12px;
			
		}
		.sign12 img
            {
       
		width:100%;
		float:left;
		
		}


.calculator{width:100%;margin-top:9px;margin-left:29px;}
.your-no{
     font-size:24px;
     color:#FFFFFF;
     font-family:callibary;
}
#cal{
    font-size:22px;
    color:#FFFFFF;
    font-family:callibary;
}
#calw{
    font-size:22px;
    color:#FFFFFF;
    font-family:callibary;
}
#calm{
    font-size:22px; 
    color:#FFFFFF;
    font-family:callibary;
}
#caly{
    font-size:22px;
    color:#FFFFFF;
    font-family:callibary;
}
.personal-info{
       color:#FFFFFF;
	   font-family:callibary;
	   font-size:20px;

	   }
	   #Uname{
	   
	   height:45px;
	   width:87%;
	   }
.dob{

       color:#FFFFFF;
        font-family:callibary;
		font-size:20px;
}
.search{
    width:80%;
      }
.sub{
      color:#FFFFFF;
      background-color:#cb8700;
      width:40%;
      margin-right:36px;
      height:40px;
	  margin-top:23px;
	  float:right;
	  font-size:18px;
	  font-family:callibary;
	
	  }
.one{
      height:70px;
	  width:28%;
	  float:left;
	  background-color:#8b6250;
	  margin-top:10px;
	   font-family:callibary;
	 
	  }
.two{
      height:70px;
	  width:28%;
	  margin-left:8%;
	  float:left;
	  background-color:#8b6250;
	  margin-top:10px;
	  font-family:callibary;
	
	  
}
.three{
      height:70px;
	  width:28%;
	  float:right;
	 background-color:#8b6250;
	 margin-top:10px;
	  font-family:callibary;
	
}
.four{
       height:70px;
	   width:28%;
	   float:left;
	   background-color:#8b6250;
	   margin-top:5px;
	   font-family:callibary;
	
}
.five{
       height:70px;
	   width:28%;
	   float:left;
	   margin-left:8%;
	   background-color:#c5a692;
	   margin-top:5px;
	   font-family:callibary;
	
}
.six{
       height:70px;
	   width:28%;
	   float:right;
	   background-color:#8b6250;
	   margin-top:5px;
	   font-family:callibary;
	
}
.seven{
       height:70px;
	   width:28%;
	   float:left;
	   background-color:#8b6250;
	   font-family:callibary;
	
}
.eight{
       height:70px;
	   width:28%;
	   float:left;
	   margin-left:8%;
	   background-color:#8b6250;
	   font-family:callibary;
	
}
.nine{  
       height:70px;
	   width:28%;
	   float:right;
	   background-color:#8b6250;
	   font-family:callibary;
}
.info{    
        border:0px solid;
		height:1000px;
		width:100%;
		}
.contact{
         border:0px solid;
		 height:814px;
		 background-color:black;
		 width:auto;
		 margin-right:-30px;
		 }
.contact1{
         border:none;
		 height:auto;
		 }
.articles{
         border:0px solid;
		 width:100%;
		 height:971px;
		 overflow:hidden
		 }
.info1{
        border:0px solid;
		width:100%;
		}
.numerology{
        width:100%;
		font-size:28px;
		}
.number{
       font-size:20px;
	   font-family:callibary;
	   }
.numbers{
        margin-top:10px;


}
.number1{
       font-size:16px;
	   font-family:callibary;
	   }
.info2{
      width:100%;
	  margin-top:50px;
	  }
.info3{
      width:100%;
	  margin-top:50px;
	  }
.info4{
      width:100%;
	  margin-top:50px;
	  }
.info5{
      width:100%;
	  margin-top:50px;
	  }
.advice{
      border:0px solid;
	  width:100%;
	  height:971px;
	  overflow:hidden
	  }
.info6{
     width:100%;
	 }
.info7{
      width:100%;
	  margin-top:50px;
	  }
.info8{
      width:100%;
	  margin-top:50px;
	  }
.info9{
       width:100%;
	   margin-top:50px;
	   }
.info10{
       width:100%;
	   margin-top:50px;
	   }

.name
          { 
      width:100%;
   margin-top: -10px;
	  font-size:28px;
	  font-family:callibary;
	  color:#FFFFFF;
	  }
.back
               {
		 width:100%;
		 margin-top:80px;
		 font-size:22px;
		 font-family:callibary;
		 color:#FFFFFF;
		 }
.fb
           {
		  width:100%;
		  margin-top:80px;
		  font-size:22px;
		  font-family:callibary;
		  color:#FFFFFF;
		  }
.twit{
       width:100%;
	   margin-top:80px;
	   font-size:22px;
	   font-family:callibary;
	   color:#FFFFFF;
	   }
#general{ width:92%}
@media screen and (min-width:501px) and ( max-width:991px){
.container{
     
		 height:auto;
		
		 }
		 
		 .calender {
   padding-bottom: 15%;
height: 100%;
    
}
.articles {
  
    height: 100%;
}
.advice{
    
	  height:100%;
	
	  }
}
@media screen and ( max-width:490px){
.container{
     
		 height:auto;
		
		 }
		 
		 .calender {
   padding-bottom: 30%;
height: 100%;
    
}
.articles {
  
    height: 100%;
}
.advice{
    
	  height:100%;
	
	  }
}
@media (min-width:1267px) and (max-width:1427px){
	
	.menu{ padding-left:10%}
	
	}
@media (min-width:992px) and (max-width:1266px){
	
	.menu{padding-left: 4%;
font-size: 14px;}
.ul li:first-child a {
    font-size: 14px;
}
.tp-menu {
    text-indent: -28px;}
	
	}
@media (min-width:220px) and (max-width:379px){
	
	.menu{ padding-left:5%}
	
	}
@media (min-width:1200px) and (max-width:1438px){
	
	.head-txt {
    margin-left: 21px !important;
    font-size: 138% !important;
}
	
	}
@media (min-width:992px) and (max-width:1199px){
	
	.head-txt {
 margin-left: 16px !important;
font-size: 111% !important;
}
	
	}
@media (min-width:220px) and (max-width:382px){
	
	.head-txt {

font-size: 126% !important;
}
	
	}
@media (min-width:768px) and (max-width:991px){
	
	body{ width:79%}
	
	}
@media (min-width:220px) and (max-width:767px){
	
	.col-md-3{ padding-right: 0px !important;}
	.row {
    margin-right: -30px !important;
    margin-top: -28px !important;
}

	}
	@media (min-width:768px) and (max-width:991px){
	
	.col-md-3{ padding-right: 0px !important;}
	.row {
   
    margin-top: -28px !important;
    padding-right:15px;
}

	}
@media (min-width:220px) and (max-width:991px){
	
	.head-txt {
    
    padding-top: 5%;
}
	
	}